@model IEnumerable<ProjektMovie.Models.Movie>

@{
    ViewBag.Title = "Search";
}

<h2></h2>

@MyHelpers.MakeNote("Wyszukujesz tylko po tytule")

<h2></h2>
@{
    Html.RenderPartial("_Search");
}


<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Reżyser", "Search", new { sortOrder = ViewBag.ForeignSortParm })
        </th>
        <th>
            @Html.ActionLink("Tytuł", "Search", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.ActionLink("Rodzaj", "Search", new { sortOrder = ViewBag.RodzajSortParm })
        </th>
        <th>
            @Html.ActionLink("Dat Wydania", "Search", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Director.imie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rodzaj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rok_produkcji)
            </td>

        </tr>
    }

</table>
